.box {
    background-color: midnightblue;
}

.box h2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.box span {
    background-color: rgb(83, 83, 182);
}

.box p {
    color: rgba(34, 214, 238, 0.925);
}

.wrapper div {
    display: inline-block;
    margin: 5px;
    width: 200px;
    height: 150px;
    border: 2px solid black;
}

.a {
    background-image: url('./balloons.jpg');
}

.b {
    background-image: url('./star.png');
    background-color: blue; /*el color queda debajo de la imagen de fondo*/
}

.c {
    background-image: url('./star.png');
    background-repeat: no-repeat;
}

.d {
    background-image: url('./star.png');
    background-repeat: repeat-x;
}

.e {
    background-image: url('./star.png');
    background-repeat: repeat-y;
}

.f {
    background-image: url('./star.png');
    background-repeat: repeat;
}

.g {
    background-image: url('./balloons.jpg');
    background-size: 200px 150px;
}

.h {
    background-image: url('./balloons.jpg');
    background-size: cover;
}

.i {
    background-image: url('./balloons.jpg');
    background-size: contain;
}

.j {
    background-image: url('./star.png');
    background-repeat: no-repeat;
}

.k {
    background-image: url('./star.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.l {
    background-image: url('./star.png');
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.m {
    background-image: url('./star.png');
    background-repeat: no-repeat;
    background-position: 50% 90px;
}

.n {
    background-image: url('./star.png');
    background-repeat: no-repeat;
    background-position: left 50px  bottom 50%;
}

.o {
    background-image: url('./star.png');
    background-repeat: no-repeat;
    background-position: left 50%  top 50%;
}

.p {
    background-image: linear-gradient(105deg, rgba(0,249,255,1) 39%, rgba(51,56,57,1) 96%);
}

.q {
    background-image: radial-gradient(circle, rgba(0,249,255,1) 39%, rgba(51,56,57,1) 96%);
    background-size: 100px 70px;
}

/*si usamos solo el selector de clase, tiene menos especificidad que el bloque .wrapper div {...}, por lo que las reglas de tamaño no aplicarian*/
.wrapper .r {
    width: 500px;
    height: 400px;
    background-image: url('./star.png'), url('./big-star.png'), url('./balloons.jpg');
    /*la tercer imagen toma el valor de repeat*/
    background-repeat: repeat, repeat, no-repeat;
}

.wrapper .s,
.wrapper .t,
.wrapper .u {
    width: 500px;
    height: 400px;
    overflow: auto;
}

.wrapper .s {
    background-image: url('./balloons.jpg');
    background-attachment: scroll;
    padding: 20px;
}

.wrapper .t {
    background-image: url('./balloons.jpg');
    background-attachment: fixed;
    padding: 20px;
}

.wrapper .u {
    background-image: url('./balloons.jpg');
    background-attachment: local;
    padding: 20px;
}

.s .content-box,
.t .content-box,
.u .content-box {
    display: block;
    background-color: rgba(34, 46, 46, 0.486);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    height: fit-content;
}

.wrapper .v {
    /*  background-image background-position / background-size background-repeat,
        background-image background-position background-repeat,
        background-color
    */
    background:   
    linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat,
url('./big-star.png') center no-repeat, 
    rebeccapurple;
}