<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduccion</title>
    <link rel="stylesheet" href="./introduccion.css">
</head>

<body>
    <p>amo a mi perrito</p>
    <ul>
        <li>alimentarlo</li>
        <li>cuidarlo</li>
        <li>salir a pasear</li>
        <li>amarlo</li>
    </ul>

    <p>es el mejor</p>

    <h2>flexbox</h2>
    <div class="container">
        <div class="box">uno</div>
        <div class="box">dos</div>
        <div class="box">tres</div>
    </div>
    <h2>flexbox y propiedad flex</h2>
    <div class="container">
        <div class="box flexible">uno</div>
        <div class="box flexible">dos</div>
        <div class="box flexible">tres</div>
    </div>

    <h2>grid sin spans</h2>
    <div class="grid-container">
        <div class="box">uno</div>
        <div class="box">dos</div>
        <div class="box">tres</div>
        <div class="box">cuatro</div>
        <div class="box">cinco</div>
        <div class="box">seis</div>
    </div>

    <h2>grid con spans</h2>
    <div class="grid-container">
        <div class="box box-one">uno</div>
        <div class="box box-two">dos</div>
        <div class="box box-three">tres</div>
    </div>

    <h2>elemento flotado a la izquierda</h2>
    <div class="left-floated-box">floated box</div>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, aut iusto. Corrupti distinctio velit
        repellendus quibusdam quo sit modi!
        Incidunt dignissimos deleniti accusamus reiciendis optio provident dolorum, corrupti adipisci doloribus!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, aut iusto. Corrupti distinctio velit
        repellendus quibusdam quo sit modi!
        Incidunt dignissimos deleniti accusamus reiciendis optio provident dolorum, corrupti adipisci doloribus!
    </p>

    <div class="position">
        <h2>posicionado simple</h2>
        <p>soy un elemento block level basico</p>
        <p class="positioned">soy un elemento block level basico</p>
        <p>soy un elemento block level basico</p>

        <h2>posicionado relativo</h2>
        <p>soy un elemento block level basico</p>
        <p class="relative">soy un elemento block level basico</p>
        <p>soy un elemento block level basico</p>

        <h2>posicionado absoluto</h2>
        <p>soy un elemento block level basico</p>
        <p class="absolute">soy un elemento block level basico</p>
        <p>soy un elemento block level basico</p>
    </div>

    <h2>posicionado fixed</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, a. Ab assumenda, ducimus mollitia error ex
        voluptatibus cum non amet voluptas dolore veritatis aliquid quod cupiditate atque magni dolor ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dicta alias autem dolore voluptatum. Quae, error
        placeat obcaecati id rem laudantium iste enim provident autem iure eum corrupti, incidunt sed?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis esse ipsum sequi atque soluta. Veniam ipsa
        quisquam suscipit delectus, amet provident illo, quo fugiat, numquam obcaecati mollitia magni voluptas?
    </p>
    <p class="fixed"> elemento fixed</p>

    <h2>posicionado sticky</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, a. Ab assumenda, ducimus mollitia error ex
        voluptatibus cum non amet voluptas dolore veritatis aliquid quod cupiditate atque magni dolor ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dicta alias autem dolore voluptatum. Quae, error
        placeat obcaecati id rem laudantium iste enim provident autem iure eum corrupti, incidunt sed?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis esse ipsum sequi atque soluta. Veniam ipsa
        quisquam suscipit delectus, amet provident illo, quo fugiat, numquam obcaecati mollitia magni voluptas?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, a. Ab assumenda, ducimus mollitia error ex
        voluptatibus cum non amet voluptas dolore veritatis aliquid quod cupiditate atque magni dolor ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dicta alias autem dolore voluptatum. Quae, error
        placeat obcaecati id rem laudantium iste enim provident autem iure eum corrupti, incidunt sed?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis esse ipsum sequi atque soluta. Veniam ipsa
        quisquam suscipit delectus, amet provident illo, quo fugiat, numquam obcaecati mollitia magni voluptas?
    </p>
    <p class="sticky"> elemento sticky</p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, a. Ab assumenda, ducimus mollitia error ex
        voluptatibus cum non amet voluptas dolore veritatis aliquid quod cupiditate atque magni dolor ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dicta alias autem dolore voluptatum. Quae, error
        placeat obcaecati id rem laudantium iste enim provident autem iure eum corrupti, incidunt sed?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis esse ipsum sequi atque soluta. Veniam ipsa
        quisquam suscipit delectus, amet provident illo, quo fugiat, numquam obcaecati mollitia magni voluptas?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, a. Ab assumenda, ducimus mollitia error ex
        voluptatibus cum non amet voluptas dolore veritatis aliquid quod cupiditate atque magni dolor ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dicta alias autem dolore voluptatum. Quae, error
        placeat obcaecati id rem laudantium iste enim provident autem iure eum corrupti, incidunt sed?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis esse ipsum sequi atque soluta. Veniam ipsa
        quisquam suscipit delectus, amet provident illo, quo fugiat, numquam obcaecati mollitia magni voluptas?
    </p>

    <h2>table layout</h2>
    <form>
        <p>Introduce tu nombre y edad</p>
        <div>
            <label for="fname">nombre:</label>
            <input type="text" id="fname" />
        </div>
        <div>
            <label for="lname">apellido:</label>
            <input type="text" id="lname" />
        </div>
        <div>
            <label for="age">edad:</label>
            <input type="text" id="age" />
        </div>
    </form>

    <h2>multi-column layout</h2>

    <div class="multi-column-container">
        <h2>titulo</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum fuga tempore, assumenda maxime modi blanditiis dolorem iusto vel minus dicta optio in rerum possimus dolores architecto ipsum deleniti repellat alias.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, voluptas molestias vero amet pariatur debitis illo ea autem consequatur assumenda veniam ducimus suscipit dolores dolorem consectetur non et est totam.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis aspernatur consequatur laborum et velit, repellat magni quo commodi, soluta voluptatem vero, iure ducimus. Exercitationem dicta maiores impedit modi? Odit, beatae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, repudiandae reprehenderit. Sint vel eveniet consequuntur suscipit! Accusamus possimus eos tenetur neque natus nobis nemo ullam, aliquam ea quisquam, dolore earum!
        </p>
    </div>
</body>

</html>