html {
    font-size: 10px;
}

h1 {
    font-size: 5rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px red, 3px 3px 4px red;
    text-align: center;
    letter-spacing: 2px;
}

p {
    color: red;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    /*24 px*/
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1px;
}

p::first-line {
    letter-spacing: 4px;
    word-spacing: 4px;
}

h1+p {
    font-weight: bold;
}